.uiSearch {
  position: relative;
}

.uiSearch input {
  width: 100%;
  box-sizing: border-box
}

.uiSearch .dropDown {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background: var(--pico-card-background-color);
  border: 1px solid var(--pico-dropdown-border-color);
  border-radius: 8px;
  box-shadow: var(--pico-dropdown-box-shadow);
  margin-top: 8px;
  max-width: 320px;
  max-height: 480px;
  overflow-y: auto;
  z-index: 1;
}

.uiSearch .category {
  margin: 5px 10px;
  font-size: 11px;
}

.uiSearch .result {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 11px;
}

.uiSearch .highlighted {
  background-color: var(--pico-contrast-focus);
}
